.item-detail-page {
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 40px 0;
}

.item-detail-container {
  width: 100%;
  padding: 0 20px;
}

.back-button {
  background: rgb(255, 255, 255);
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  border: none;
  outline: none;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.back-button .menu-name {
  color: #000;
  font-weight: 600;
}

.back-button .item-title {
  color: rgb(161, 161, 161);
  text-transform: uppercase;
}

.back-button {
  color: #000;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
  .item-detail-page {
    padding: 20px 0;
  }
  
  .item-detail-container {
    padding: 0 10px;
  }
}
